.map {
  top: 0;
  bottom: 0;
  position: absolute;
  min-width: 100%;
}

#locate-me {
    position: absolute;
    right: 0;
    margin-right: .5em;
    margin-top: 4em;
    z-index: 1;
}
#locate-me span {
  font-size: 2.5em;
}