<template name="map">
  {{#if gettingLocation}}
    <button id="locate-me" type="button" class="btn btn-default">
  {{> spinner}}
    </button>
  {{else}}
    <button id="locate-me" type="button" class="btn btn-default"><span class="fa fa-crosshairs"></span></button>
  {{/if}}
  <div class="about">
  <p>A realtime Chicago CTA Bus Mapper...That's actually useful.
  See the buses that matter to you within 1 mile radius, no clicks!</p>
  <div class="authors">
  <p>Designed & Developed By</p>
  <img class="avatar" alt="Gino" title="Gino" src="images/gino.png">
  <img class="avatar" alt="Sean" title="Sean" src="images/sean.jpg">
  <img class="avatar" alt="Wil" title="Wil" src="images/wil.png">
  </div>
  </div>
  <div class="map"></div>
</template>
